 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: Arial, Helvetica, sans-serif;
     background: #fcfbfb;
     color: #000000;
 }

 /* .wrapper {
    max-width: 1380px;
    margin: auto;
    padding-inline: 1.5em;
} */

 /* Navbar container */

 header {
     width: 100%;
     border-bottom: 1px solid #ddd;
 }

 .first-nav {
     width: 100%;
     height: 2rem;
     background-color: rgb(251, 251, 253);
     border: 2px solid black;
 }

 .firstnav {
     height: 20px;
     padding: 10px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     /* border: 1px solid  black; */
 }

 .navtext ul {
     gap: 20px;
     padding: 0px 30px;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #000;
     /* border: 1px solid black; */
 }

 li {
     list-style: none;
 }

 .firstheading {
     gap: 10px;
     padding: 0px 15px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .img1 {
     width: 2.5rem;
     height: 1.5rem;
     margin-top: 0.7rem;
     transition: 0.4s ease;
     /* border: 1px solid black; */
 }

 .img2 {
     width: 2rem;
     height: 2rem;
     margin-top: 0.4rem;
     transition: 0.4s ease;
     /* border: 1px solid black; */
 }

 .navbar {
     background: white;
 }


 /* Main Navbar */
 .navbar {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 10px 30px;
 }

 /* Logo */
 .logo img {
     width: 60px;
     cursor: pointer;
 }

 /* Center Menu */
 .nav-links {
     display: flex;
     gap: 25px;
 }

 .nav-links a {
     color: #0d0c0c;
     text-decoration: none;
     font-weight: 600;
     font-size: 0.95rem;
 }

 .nav-links a:hover {
     opacity: 0.6;
 }

 /* Right Section */
 .right-section {
     display: flex;
     align-items: center;
     gap: 15px;
 }

 .search-box {
     display: flex;
     align-items: center;
     background: #fefcfc;
     border-radius: 30px;
     padding: 5px 12px;
 }

 .search-box input {
     border: none;
     outline: none;
     background: transparent;
     padding: 5px;
     font-size: 0.9rem;
     color: #000;
 }

 .search-box svg {
     width: 16px;
     height: 16px;
     opacity: 0.6;
     color: #000;
 }

 .icon {
     color: #000;
     width: 20px;
     height: 20px;
     cursor: pointer;
 }

 /* Hamburger Menu (Mobile) */
 .hamburger {
     display: none;
     flex-direction: column;
     gap: 4px;
     cursor: pointer;
 }

 .hamburger div {
     width: 25px;
     height: 2px;
     background-color: #edede1;
 }


 .banner-container {
     display: flex;
     flex-wrap: wrap;
     width: 100%;
     height: 100vh;
 }

 .banner {
     position: relative;
     flex: 1;
     min-width: 300px;
     height: 100vh;
     overflow: hidden;
 }

 .banner img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     transition: 0.4s ease;
 }

 .banner:hover img {
     transform: scale(1.05);
 }

 .banner-content {
     position: absolute;
     bottom: 40px;
     left: 40px;
     color: rgb(252, 252, 252);
     border: 5px solid black;
 }

 .banner-content h3 {
     font-weight: 400;
     font-size: 1rem;
     opacity: 0.9;
 }

 .banner-content h1 {
     font-size: 1.5rem;
     margin: 8px 0;
     font-weight: 700;
 }

 .shop-btn {
     background: white;
     color: black;
     padding: 8px 18px;
     border-radius: 25px;
     text-decoration: none;
     font-weight: 600;
     transition: 0.3s ease;
     display: inline-block;
 }

 .shop-btn:hover {
     background: #ddd;
 }

 .cards {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 20px;
     padding: 4.5%;
     border: 3px solid blue;
 }

 .card1 img {
     width: 100%;
     height: 40rem;
     /* object-fit: cover; */
     /* border: 3px solid rgb(39, 177, 21); */
 }

 .card1 {
     position: relative;
     width: 100%;
     max-height: 68rem;
     overflow: hidden;
     /* border: 5px solid rgb(203, 102, 13); */
 }

 .card1-content {
     position: absolute;
     bottom: 40px;
     left: 40px;
     color: rgb(252, 252, 252);
     /* border: 5px solid green; */
 }

 .spotlight {
     text-align: center;
     /* border: 5px solid green; */
 }

 .spotlight h1 {
     font-weight: 900;
     font-size: 4.5rem;
     /* letter-spacing: 2px; */

 }

 .spotlight p {
     font-size: 20px;
     line-height: 1.9;
     max-width: 690px;
     margin: 1px auto 0;
 }

 .categories {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
     gap: 20px;
     border: 2px solid red;
     padding: 10px;
     max-width: 1200px;
     margin: auto;
      border: 2px solid rgb(0, 255, 21);
 }

 .item {
     text-align: center;
     width: 110px;
     gap: 20px;
     border: 2px solid rgb(204, 0, 255);
     cursor: pointer;
 }

 .item img {
     width: 70px;
     height: auto;
     object-fit: contain;
     transition: transform 0.3s ease;
 }

 .item p {
     margin-top: 12px;
     font-size: 14px;
     font-weight: 500;
 }

 .item:hover img {
     transform: scale(1.08);
 }

 .item:hover p {
     color: rgb(79, 78, 78);
 }

.footer {
  background: #fcfbfb;
  font-family: Arial, sans-serif;
  padding: 50px 60px 30px;
  border-top: 1px solid #eee;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

.footer-col h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 14px;
  color: #6e6e6e;
  text-decoration: none;
}

.footer-col ul li a:hover {
  color: #000;
}

.location {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  color: #6e6e6e;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  font-size: 13px;
  color: #6e6e6e;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-links a {
  text-decoration: none;
  color: #6e6e6e;
}

.footer-links a:hover {
  color: #000;
}



 /* Responsive Layout */
 @media (max-width: 1400px) {
     .banner-container {
         flex-direction: row;
         height: auto;
     }

     .banner {
         height: 50vh;
     }

     .banner-content {
         bottom: 30px;
         left: 20px;
     }

     .banner-content img {
         height: 20%;
         width: 10%;
     }

     .banner-content h1 {
         font-size: 1.3rem;
     }
 }



 @media (max-width: 768px) {
     .banner-container {
         flex-direction: column;
         height: auto;
     }

     .banner {
         height: 50vh;
     }

     .banner-content {
         bottom: 30px;
         left: 20px;
     }

     .banner-content h1 {
         font-size: 1.3rem;
     }
 }

 @media (max-width: 480px) {
     .banner {
         height: 60vh;
     }

     .banner-content {
         bottom: 20px;
         left: 15px;
     }

     .banner-content h3 {
         font-size: 0.9rem;
     }

     .banner-content h1 {
         font-size: 1.1rem;
     }

     .shop-btn {
         padding: 6px 14px;
         font-size: 0.9rem;
     }
 }

 /* Responsive Design */
 @media (max-width: 992px) {
     .nav-links {
         display: none;
         position: absolute;
         top: 65px;
         left: 0;
         width: 100%;
         background: white;
         flex-direction: column;
         align-items: center;
         gap: 20px;
         padding: 20px 0;
         border-top: 1px solid #ddd;
     }

     .nav-links.active {
         display: flex;
     }

     .hamburger {
         display: flex;
     }
 }